[figlter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smdge -- %f
    process = git-lfs filter-process
    required = true

[user]
    name = WENG-CHENG-CHIH
    email = aaa021030@gmail.com

[alias]
    st status